<!-- <mat-toolbar color="primary">

	<button mat-button routerLink="/">
		<mat-icon>home</mat-icon>
		{{title}}
	</button>


	<span class="fill-remaining-space"></span>
	<div fxLayout="row" fxShow="false" fxShow.gt-sm>
		<button mat-button routerLink="/products">Products</button>
		<button mat-button routerLink="/dashboard">Dashboard</button>
	</div>


</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
	<button mat-menu-item routerLink="/products">Products</button>
	<button mat-menu-item routerLink="/dashboard">Dashboard</button>

</mat-menu> -->
<mat-toolbar color="primary">
	<a mat-button routerLink="/">Katalog tras</a>
	<div>
		<a mat-button routerLink="/login">Login</a>
		<a mat-button routerLink="/regist">Registration</a>
	</div>

</mat-toolbar>