<mat-card class="onetrail">
	<div class="onetrail_header">
		<div class="onetrail_header-title">Tytuł: <span>{{ trail.title }}</span></div>
		<div class="onetrail_header-number">Numer trasy: <span>{{ trail.number }}</span></div>
	</div>
	<div class="onetrail_image">
		<img src="https://nodejs-restapi-adz.herokuapp.com/track/{{trail._id}}/{{ trail.image }}" alt="Photo of {{ trail.title }}">
	</div>
	<div class="onetrail_content">
		<div class="onetrail_content-punktyPosrednie"> {{trail.viaPoints }}</div>
		<div class="onetrail_content-trackColor">Kolor trasy: <span>{{ trail.trackColor }}</span></div>
	</div>
	<div class="onetrail_action">
		<a *ngIf="!user.token" mat-raised-button color="primary" routerLink="/login">Dodaj</a>
		<a *ngIf="user.token" mat-raised-button color="primary" routerLink="/track/{{ trail._id }}">Dodaj</a>
	</div>
</mat-card>