$font_family: Roboto, "Helvetica Neue", sans-serif
	
.onetrail
	display: flex
	flex-direction: column
	align-items: center
	box-sizing: border-box
	min-height: 500px
	height: 100%
	&>div
		display: flex
		flex-direction: column
		width: 100%
		font-size: 20px
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0
	
	span
		font-weight: bold	
		

.onetrail_header
	justify-content: space-around

.onetrail_header
	height: 25%
.onetrail_image
	height: 32.5%
.onetrail_content
	height: 32.5%
.onetrail_action
	height: 10%