<h1>Logowanie</h1>



<form [formGroup]="mySecondReactiveForm" class="fields-container" (submit)=onSubmit()>

	<mat-form-field>
		<!-- <label for="email">email</label> -->
		<input matInput type="text" id="email" formControlName="email" placeholder="Wprowadż swój email" />
		<!-- <div class="error" *ngIf="isControlInvalid('email')">
			Wprowadź poprawny adres e-mail
		</div> -->
	</mat-form-field>
	<mat-form-field>
		<!-- <label for="password">hasło</label> -->
		<input matInput type="password" id="password" formControlName="password" placeholder="Wprowadż swoje hasło" />
	</mat-form-field>

	<div class="form_buttons">
		<button mat-raised-button color="primary" type="submit">Zaloguj</button>
		<button mat-raised-button color="warn" type="reset">Anuluj</button>
		<button mat-stroked-button color="accent">Zarejestruj się</button>
	</div>

</form>

<hr /><br />




<div>
	{{mySecondReactiveForm.value | json}}
</div>